:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    font-size: 0px;
    background: #ffffff;
    overflow: hidden;
}
.text {
    display: block;
    position: relative;
    height: 61px;
    margin: 246px 0 0 494px;
    color: #000000;
    font-family: Days One, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
    white-space: nowrap;
}
.Moving_fish {
    position: relative;
    width: 132.46px;
    height: 177.922px;
    margin: 373px 0 0 295px;
    background: url(/Assets/images/Calculating/FishAnimation.svg)
        no-repeat center;
    background-size: cover;
    z-index: 2;
    animation: fadeRotate 3s infinite;
}

/* Animation for .Moving_fish */
@keyframes fadeRotate {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}