:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    font-size: 0px;
    background: #ffffff;
    overflow: hidden;
}
.text {
    display: block;
    position: relative;
    height: 46px;
    margin: 106px 0 0 446px;
    color: #000000;
    font-family: Days, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
    white-space: nowrap;
}
.wrapper {
    position: relative;
    width: 649px;
    height: 50px;
    margin: 24px 0 0 316px;
    font-family: Lato, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 7;
}
.text-2 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.text-3 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 985px;
    height: 186px;
    margin: 115px 0 0 149px;
    z-index: 5;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 400px;
    height: 183px;
    background: #dc393c;
    z-index: 2;
    border-radius: 20px;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 282px;
    height: 76px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
    z-index: 3;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 406px;
    height: 183px;
    padding: 10px 10px 10px 10px;
    background: #3d67a2;
    z-index: 5;
    border-radius: 20px;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 282px;
    height: 76px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
    z-index: 6;
}
.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 87px;
    height: 46px;
    margin: 235px 0 0 60px;
    padding: 10px 10px 10px 10px;
    background: #1e1e1c;
    z-index: 8;
    border-radius: 10px;
}
.text-6 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
