:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
.section {
    position: relative;
    width: 1280px;
    height: 33px;
    margin: 32px 0 0 0;
    z-index: 120;
}
.img {
    position: absolute;
    width: 2.58%;
    height: 100%;
    top: 0;
    left: 3.91%;
    background: url(./assets/images/727fc040-9677-4e57-a141-6fcadeb8c962.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 104;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48.48%;
    top: 24.24%;
    left: 39.39%;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 105;
}
.img-2 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 279px;
    background: url(./assets/images/3e5cb811-a727-4338-9998-a635244ee131.svg)
        no-repeat center;
    background-size: cover;
    z-index: 107;
    border-radius: 50%;
}
.img-3 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 508px;
    background: url(./assets/images/fe10d7c3-8ae8-437a-be9f-9a4606a39e3a.svg)
        no-repeat center;
    background-size: cover;
    z-index: 110;
    border-radius: 50%;
}
.img-4 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 737px;
    background: url(./assets/images/e90faeff-00d4-4cb8-8234-845045a57068.svg)
        no-repeat center;
    background-size: cover;
    z-index: 113;
    border-radius: 50%;
}
.pic {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 966px;
    background: url(./assets/images/4972b54c-8aa8-4603-a376-d99256591ae1.svg)
        no-repeat center;
    background-size: cover;
    z-index: 116;
    border-radius: 50%;
}
.img-5 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 1195px;
    background: url(./assets/images/2efbb374-45dc-4a61-836e-dbac6ee1d008.svg)
        no-repeat center;
    background-size: cover;
    z-index: 119;
    border-radius: 50%;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 291px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 108;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 520px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 111;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 749px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 114;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 978px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 117;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 1207px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 120;
}
.group {
    position: absolute;
    width: 1280px;
    height: 9px;
    top: 12px;
    left: 0;
    background: #161719;
    z-index: 101;
}
.section-2 {
    position: relative;
    width: 73px;
    height: 9px;
    margin: 0 0 0 0;
    background: #dc393c;
    z-index: 102;
}
.text-7 {
    display: block;
    position: relative;
    height: 46px;
    margin: 32px 0 0 359px;
    color: #000000;
    font-family: Days One, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45.826px;
    text-align: left;
    white-space: nowrap;
}
.text-8 {
    display: block;
    position: relative;
    height: 19px;
    margin: 8px 0 0 433px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 121;
}
.group-2 {
    position: relative;
    width: 973px;
    height: 545px;
    margin: 32px 0 0 362px;
    z-index: 125;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    position: absolute;
    width: 558px;
    height: 545px;
    top: 0;
    left: 0;
    padding: 30px 30px 30px 30px;
    background: #ffffff;
    z-index: 1;
    border-radius: 16px;
    box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.05);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}
.text-9 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.section-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 100px;
    z-index: 4;
}
.section-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 46px;
    padding: 16px 16px 16px 16px;
    z-index: 5;
}
.img-6 {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    height: 14px;
    background: url(./assets/images/e670fcea-0ed8-4e21-b307-24fe891e0a6c.svg)
        no-repeat center;
    background-size: cover;
    z-index: 6;
}
.img-7 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 46px;
    height: 46px;
    padding: 16px 16px 16px 16px;
    background: url(./assets/images/da97c982-42a7-4170-86b1-044e6a5fb152.png)
        no-repeat center;
    background-size: cover;
    z-index: 7;
}
.wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 8;
    overflow: hidden;
}
.wrapper-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 9;
}
.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 10;
}
.text-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}
.box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 12;
}
.text-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 13;
}
.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 14;
}
.text-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
}
.wrapper-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 16;
}
.text-d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 17;
}
.box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 18;
}
.text-e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
}
.group-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 20;
}
.text-f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}
.group-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    z-index: 22;
}
.text-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 23;
}
.box-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 24;
}
.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #f2f3f7;
    border: 1px solid #d4d3df;
    z-index: 25;
}
.text-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #d5d5d8;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 26;
}
.wrapper-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #f2f3f7;
    border: 1px solid #d4d3df;
    z-index: 27;
}
.text-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #a7a7a7;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 28;
}
.group-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #f2f3f7;
    border: 1px solid #d4d3df;
    z-index: 29;
}
.text-13 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #a7a7a7;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
}
.group-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 31;
}
.text-14 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 32;
}
.section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 33;
}
.text-15 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 34;
}
.wrapper-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 35;
}
.text-16 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 36;
}
.box-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 37;
}
.text-17 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 38;
}
.section-8 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 39;
}
.wrapper-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 40;
}
.text-18 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 41;
}
.group-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 42;
}
.text-19 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 43;
}
.box-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 44;
}
.text-1a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 45;
}
.group-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 46;
}
.text-1b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 47;
}
.section-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 48;
}
.text-1c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 49;
}
.wrapper-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 50;
}
.text-1d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 51;
}
.section-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 52;
}
.text-1e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 53;
}
.box-8 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 54;
}
.group-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #ffffff;
    border: 1px solid #d4d3df;
    z-index: 55;
}
.text-1f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 56;
}
.group-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 57;
}
.text-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 58;
}
.group-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 59;
}
.text-21 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 60;
}
.wrapper-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 61;
}
.text-22 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 62;
}
.section-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 63;
}
.text-23 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 64;
}
.section-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 65;
}
.text-24 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 66;
}
.group-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 67;
}
.text-25 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 68;
}
.section-d {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 69;
}
.wrapper-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #40954c;
    border: 1px solid #d4d3df;
    z-index: 70;
}
.text-26 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 71;
}
.group-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 72;
}
.text-27 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 73;
}
.section-e {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 74;
}
.text-28 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 75;
}
.group-e {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 76;
}
.text-29 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 77;
}
.group-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 78;
}
.text-2a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 79;
}
.section-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 80;
}
.text-2b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 81;
}
.section-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 82;
}
.text-2c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 83;
}
.group-10 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: -1px;
    position: relative;
    width: 498px;
    z-index: 84;
}
.section-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 85;
}
.text-2d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 86;
}
.box-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 87;
}
.text-2e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 88;
}
.section-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 89;
}
.text-2f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 90;
}
.wrapper-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 91;
}
.text-30 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 92;
}
.group-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 93;
}
.text-31 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 94;
}
.wrapper-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #d4d3df;
    z-index: 95;
}
.text-32 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 96;
}
.section-13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 72px;
    padding: 24px 24px 24px 24px;
    background: #f2f2f7;
    border: 1px solid #d4d3df;
    z-index: 97;
}
.text-33 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 24px;
    height: 24px;
    color: #a7a7a7;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: center;
    white-space: nowrap;
    z-index: 98;
}
.img-8 {
    position: absolute;
    width: 109px;
    height: 71px;
    top: 189px;
    left: 864px;
    background: url(./assets/images/bc1a97fd-8c54-4649-96bd-de21a7e995f8.svg)
        no-repeat center;
    background-size: cover;
    z-index: 125;
    overflow: hidden;
}
.wrapper-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 46px;
    margin: 15px 0 0 40px;
    z-index: 126;
}
.group-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 87px;
    height: 46px;
    padding: 10px 10px 10px 10px;
    background: #bfbfbf;
    z-index: 126;
    border-radius: 10px;
}
.text-34 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 127;
}
.wrapper-e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 87px;
    height: 46px;
    padding: 10px 10px 10px 10px;
    background: #dc393c;
    z-index: 122;
    border-radius: 10px;
}
.text-35 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 123;
}
