:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
.section {
    position: relative;
    width: 1280px;
    height: 33px;
    margin: 32px 0 0 0;
    z-index: 59;
}
.pic {
    position: absolute;
    width: 2.58%;
    height: 100%;
    top: 0;
    left: 3.91%;
    background: url(./assets/images/82f81c9a-0702-44f1-adeb-232b8933329d.svg)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 43;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48.48%;
    top: 24.24%;
    left: 39.39%;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
}
.img {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 279px;
    background: url(./assets/images/dd4ad2bd-fd2f-45c3-be3d-cb067d1cab66.svg)
        no-repeat center;
    background-size: cover;
    z-index: 46;
    border-radius: 50%;
}
.img-2 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 508px;
    background: url(./assets/images/c56d0c8e-3770-4992-8914-038067948696.svg)
        no-repeat center;
    background-size: cover;
    z-index: 49;
    border-radius: 50%;
}
.img-3 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 737px;
    background: url(./assets/images/4f600f8d-a1f9-487b-8cd8-4e9bfb931acf.svg)
        no-repeat center;
    background-size: cover;
    z-index: 52;
    border-radius: 50%;
}
.pic-2 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 966px;
    background: url(./assets/images/3ef68d9c-f07d-4a75-9793-a93accf78df2.svg)
        no-repeat center;
    background-size: cover;
    z-index: 55;
    border-radius: 50%;
}
.img-4 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 1195px;
    background: url(./assets/images/0fe70583-e86b-40df-9ef7-4953987e4d1a.svg)
        no-repeat center;
    background-size: cover;
    z-index: 58;
    border-radius: 50%;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 291px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 520px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 749px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 978px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 56;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 8px;
    left: 1207px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
}
.wrapper {
    position: absolute;
    width: 1280px;
    height: 9px;
    top: 12px;
    left: 0;
    background: #161719;
    z-index: 40;
}
.section-2 {
    position: relative;
    width: 1201px;
    height: 9px;
    margin: 0 0 0 0;
    background: #dc393c;
    z-index: 41;
}
.text-7 {
    display: block;
    position: relative;
    height: 46px;
    margin: 32px 0 0 441px;
    color: #1e1e1c;
    font-family: Days One, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 45.826px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.text-8 {
    display: block;
    position: relative;
    height: 16px;
    margin: 8px 0 0 432px;
    color: #1e1e1c;
    font-family: Lato, var(--default-font-family);
    font-size: 13px;
    font-weight: 300;
    line-height: 15.6px;
    text-align: left;
    white-space: nowrap;
}
.box {
    position: relative;
    width: 977px;
    height: 95px;
    margin: 57px 0 0 147px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    z-index: 3;
    overflow: visible auto;
    border-radius: 12px;
}
.section-3 {
    position: relative;
    width: 946px;
    height: 25px;
    margin: 12px 0 0 12px;
    z-index: 12;
}
.pic-3 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: url(/Assets/images/Location_page/Checkbox.svg)
        no-repeat center;
    background-size: cover;
    z-index: 5;
    border-radius: 8px;
}
.group {
    position: absolute;
    width: 98px;
    height: 22px;
    top: 2px;
    left: 848px;
    background: #cdfff7;
    border: 1px solid #648f88;
    z-index: 12;
    border-radius: 14px;
}
.text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 4px;
    left: 5px;
    color: #648f88;
    font-family: Inter, var(--default-font-family);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}
.text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 3px;
    left: 32px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.section-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 917px;
    height: 39px;
    margin: 9px 0 0 41px;
    z-index: 10;
}
.group-2 {
    flex-shrink: 0;
    position: relative;
    width: 474px;
    height: 39px;
    background: #f3f3f2;
    z-index: 10;
    border-radius: 6px;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 12px;
    left: 20px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}
.box-2 {
    flex-shrink: 0;
    position: relative;
    width: 415px;
    height: 39px;
    background: #9effab;
    z-index: 6;
    border-radius: 6px;
}
.wrapper-2 {
    position: relative;
    width: 357px;
    height: 15px;
    margin: 12px 0 0 18px;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 7;
}
.text-c {
    position: relative;
    color: #006f10;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 14.523px;
    text-align: left;
}
.text-d {
    position: relative;
    color: #006f10;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
}
.group-3 {
    position: relative;
    width: 1188px;
    height: 111px;
    margin: 32px 0 0 147px;
    z-index: 75;
}
.box-3 {
    position: absolute;
    width: 977px;
    height: 95px;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    z-index: 27;
    border-radius: 12px;
}
.box-4 {
    position: relative;
    width: 945px;
    height: 25px;
    margin: 12px 0 0 12px;
    z-index: 36;
}
.pic-4 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: url(/Assets/images/Location_page/Checkbox.svg)
        no-repeat center;
    background-size: cover;
    z-index: 29;
    border-radius: 8px;
}
.section-5 {
    position: absolute;
    width: 98px;
    height: 22px;
    top: 2px;
    left: 847px;
    background: #bfbfbf;
    border: 1px solid #49454f;
    z-index: 36;
    border-radius: 14px;
}
.text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 4px;
    left: 14px;
    color: #272727;
    font-family: Inter, var(--default-font-family);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
}
.text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 3px;
    left: 32px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}
.wrapper-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 917px;
    height: 39px;
    margin: 9px 0 0 41px;
    z-index: 34;
}
.box-5 {
    flex-shrink: 0;
    position: relative;
    width: 474px;
    height: 39px;
    background: #f3f3f2;
    z-index: 34;
    border-radius: 6px;
}
.text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 12px;
    left: 20px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
}
.wrapper-4 {
    flex-shrink: 0;
    position: relative;
    width: 415px;
    height: 39px;
    background: #9fc7ff;
    z-index: 30;
    border-radius: 6px;
}
.section-6 {
    position: relative;
    width: 357px;
    height: 15px;
    margin: 12px 0 0 18px;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 31;
}
.text-11 {
    position: relative;
    color: #00286f;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 14.523px;
    text-align: left;
}
.text-12 {
    position: relative;
    color: #00286f;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
}
.pic-5 {
    position: absolute;
    width: 109px;
    height: 71px;
    top: 40px;
    left: 1079px;
    background: url(./assets/images/69b2da85-e29b-4b75-b926-46101f839d83.svg)
        no-repeat center;
    background-size: cover;
    z-index: 75;
    overflow: hidden;
}
.section-7 {
    position: relative;
    width: 977px;
    height: 95px;
    margin: 16px 0 0 147px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    z-index: 15;
    overflow: visible auto;
    border-radius: 12px;
}
.box-6 {
    position: relative;
    width: 945px;
    height: 25px;
    margin: 12px 0 0 12px;
    z-index: 24;
}
.pic-6 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: url(/Assets/images/Location_page/Checkbox.svg)
        no-repeat center;
    background-size: cover;
    z-index: 17;
    border-radius: 8px;
}
.wrapper-5 {
    position: absolute;
    width: 98px;
    height: 22px;
    top: 2px;
    left: 847px;
    background: #fff2cd;
    border: 1px solid #bb8d00;
    z-index: 24;
    border-radius: 14px;
}
.text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 4px;
    left: 15px;
    color: #886600;
    font-family: Inter, var(--default-font-family);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}
.text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 3px;
    left: 32px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
}
.wrapper-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 917px;
    height: 39px;
    margin: 9px 0 0 41px;
    z-index: 22;
}
.wrapper-7 {
    flex-shrink: 0;
    position: relative;
    width: 474px;
    height: 39px;
    background: #f3f3f2;
    z-index: 22;
    border-radius: 6px;
}
.text-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 12px;
    left: 20px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}
.group-4 {
    flex-shrink: 0;
    position: relative;
    width: 415px;
    height: 39px;
    background: #9fc7ff;
    z-index: 18;
    border-radius: 6px;
}
.box-7 {
    position: relative;
    width: 357px;
    height: 15px;
    margin: 12px 0 0 18px;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 19;
}
.text-16 {
    position: relative;
    color: #00286f;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 14.523px;
    text-align: left;
}
.text-17 {
    position: relative;
    color: #00286f;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
}
.group-5 {
    position: relative;
    width: 977px;
    height: 95px;
    margin: 32px 0 0 147px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    z-index: 61;
    overflow: visible auto;
    border-radius: 12px;
}
.box-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 356px;
    height: 25px;
    margin: 12px 0 0 11px;
    z-index: 69;
}
.img-5 {
    flex-shrink: 0;
    position: relative;
    width: 25px;
    height: 25px;
    background: url(/Assets/images/Location_page/Checkbox.svg)
        no-repeat center;
    background-size: cover;
    z-index: 69;
    border-radius: 8px;
}
.text-18 {
    flex-shrink: 0;
    position: relative;
    height: 19px;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
}
.group-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 916px;
    height: 39px;
    margin: 9px 0 0 41px;
    z-index: 66;
}
.wrapper-8 {
    flex-shrink: 0;
    position: relative;
    width: 473px;
    height: 39px;
    background: #f3f3f2;
    z-index: 66;
    border-radius: 6px;
}
.text-19 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 12px;
    left: 20px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 67;
}
.wrapper-9 {
    flex-shrink: 0;
    position: relative;
    width: 414px;
    height: 39px;
    background: #fff2cd;
    z-index: 62;
    border-radius: 6px;
}
.section-8 {
    position: relative;
    width: 357px;
    height: 15px;
    margin: 12px 0 0 18px;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 63;
}
.text-1a {
    position: relative;
    color: #886600;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 14.523px;
    text-align: left;
}
.text-1b {
    position: relative;
    color: #886600;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
}
.box-9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 46px;
    margin: 62px 0 0 40px;
    z-index: 72;
}
.box-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 87px;
    height: 46px;
    padding: 10px 10px 10px 10px;
    background: #bfbfbf;
    z-index: 70;
    border-radius: 10px;
}
.text-1c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
}
.group-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 87px;
    height: 46px;
    padding: 10px 10px 10px 10px;
    background: #dc393c;
    z-index: 72;
    border-radius: 10px;
}
.text-1d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 73;
}
